<footer id="footer" class="midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        &copy; 2017 <a href={{ "/" | prepend: site.baseurl }} title="Free Twitter Bootstrap WordPress Themes and HTML templates">sogn.io</a>. All Rights Reserved.
      </div>
      <div class="col-sm-6">
        <ul class="pull-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a id="gototop" class="gototop" href="#"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
        </ul>
      </div>
    </div>
  </div>
</footer><!--/#footer-->

<script src={{ "/assets/js/jquery.js" | prepend: site.baseurl}}></script>
<script src={{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}></script>
<script src={{ "/assets/js/jquery.prettyPhoto.js" | prepend: site.baseurl }}></script>
<script src={{ "/assets/js/main.js" | prepend: site.baseurl }}></script>